<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div id="layoutAuthentication" class="bg-light">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <form th:action="@{/login}" method="post">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="username"  name="username" type="string" required>
                                            <label for="username">Username</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="password" name="password" type="password" required>
                                            <label for="password">Password</label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                            <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="/password">Forgot Password?</a>
                                            <button type="submit" class="btn btn-light">로그인</button>
                                        </div>
                                        <a href="/oauth2/authorization/naver">
                                            <img src="/assets/img/naverLogin.png" alt="Naver Login" style="width: 200; height: 50;"/>
                                        </a>
                                        <br><br>
                                        <a href="/oauth2/authorization/google">
                                            <img src="/assets/img/googleLogin.png" alt="Google Login" style="width: 200; height: 50;"/>
                                        </a>
                                        <br><br>
                                        <a href="/oauth2/authorization/kakao">
                                            <img src="/assets/img/kakaoLogin.png" alt="Kakao Login" style="width: 200; height: 50;"/>
                                        </a>
                                    </form>
                                    <!-- 에러 메시지 표시 -->
                                    <p th:if="${loginErrorMsg}" th:text="${loginErrorMsg}" style="color: red;"></p>
                                    <div th:if="${errorMessage}">
                                        <p style="color: red;" th:text="${errorMessage}"></p>
                                    </div>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="/register">Need an account? Sign up!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</th:block>
</html>