<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<body>
<th:block layout:fragment="content">
  <h2>Create New Board</h2>

  <form th:action="@{/board/new}" th:object="${board}" method="post" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input type="text" id="title" th:field="*{title}" required/>
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

    <br/>

    <textarea name="content" id="content" th:field="*{content}" style="display: none;"></textarea><br>

    <br/>

    <label for="multipartFileList">Attach Files:</label>
    <input type="file" id="multipartFileList" name="multipartFileList" multiple/>

    <br/>

    <button type="submit">Create</button>
  </form>

  <a href="/">Back to Home</a>
</th:block>
<script>
  ClassicEditor.create( document.querySelector('#content'), {
    language: "ko",
    ckfinder: {

      uploadUrl: "/image/upload",
      withCredentials: true
    }
  } );
</script>
</body>
</html>