<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Board</title>
<!--  CKEditor 스크립트 추가-->
  <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>

</head>
<body>

<h2>Create New Board</h2>

<form th:action="@{/board/new}" th:object="${board}" method="post" enctype="multipart/form-data">
  <label for="title">Title:</label>
  <input type="text" id="title" th:field="*{title}" required/>
  <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

  <br/>

<!--  <label for="content">Content:</label>-->
<!--  <textarea id="content" th:field="*{content}" required></textarea>-->
<!--  <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>-->
  <div th:with="editorId='editor'">
    <div id="editor" th:field="*{content}" required style="display: none;"></div>
  </div>
  <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>


  <br/>

  <label for="multipartFileList">Attach Files:</label>
  <input type="file" id="multipartFileList" name="multipartFileList" multiple/>

  <br/>

  <button type="submit">Create</button>
</form>

<a href="/">Back to Home</a>

<script>
    // CKEditor 초기화 스크립트
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
</body>
</html>