<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Board Detail</title>-->

<!--  <style>-->
<!--        img {-->
<!--            max-width: 100%;-->
<!--            max-height: 100vh;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->

<!--<h2>Board Detail</h2>-->

<!--<div th:if="${board}">-->
<!--  <p><strong>Title:</strong> <span th:text="${board.title}"></span></p>-->
<!--  <p><strong>Content:</strong> <span th:utext="${board.content}"></span></p>-->

<!--  &lt;!&ndash; 게시글의 첨부 파일 목록 &ndash;&gt;-->
<!--  <div th:if="${board.boardFileDtoList}">-->
<!--    <p><strong>Attachments:</strong></p>-->
<!--    <ul>-->
<!--      <li th:each="file : ${board.boardFileDtoList}">-->
<!--        <a th:href="@{'/boardFile/download/' + ${file.id}}" th:text="${file.originalFileName}"></a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

<!--  &lt;!&ndash; 로그인을 한 경우 &ndash;&gt;-->
<!--  <div sec:authorize-expr="isAuthenticated()">-->
<!--    <form id="commentForm">-->
<!--      <textarea name="content" id="commentContent" rows="4" cols="50"></textarea>-->
<!--      <button type="button" onclick="addComment()">댓글 작성</button>-->
<!--    </form>-->
<!--  </div>-->

<!--  &lt;!&ndash; 로그인하지 않은 경우 &ndash;&gt;-->
<!--  <div sec:authorize-expr="!isAuthenticated()">-->
<!--    <form id="commentForm" onsubmit="return false;">-->
<!--            <textarea name="content" id="commentContent" rows="4" cols="50"-->
<!--                      placeholder="로그인을 한 뒤 댓글을 작성하세요" disabled></textarea>-->
<!--      <button type="button" onclick="showLoginAlert()">댓글 작성</button>-->
<!--    </form>-->
<!--  </div>-->

<!--  &lt;!&ndash; 댓글 목록을 표시할 곳 &ndash;&gt;-->
<!--  <div th:if="${board.comments}">-->
<!--    <p><strong>댓글:</strong></p>-->
<!--    <ul id="commentList">-->
<!--      <li th:each="comment : ${board.comments}">-->
<!--        <div>-->
<!--          <span th:text="${comment.writer}"></span>-->
<!--          <span th:text="${comment.content}"></span>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

<!--  &lt;!&ndash; 수정 버튼 &ndash;&gt;-->
<!--  <a th:href="@{'/board/' + ${board.id} + '/edit'}">Edit</a>-->

<!--  &lt;!&ndash; 삭제 버튼 &ndash;&gt;-->
<!--  <form th:action="@{'/board/' + ${board.id} + '/delete'}" method="post">-->
<!--    <input type="hidden" name="_method" value="delete"/>-->
<!--    <button type="submit">Delete</button>-->
<!--  </form>-->

<!--  &lt;!&ndash; 좋아요 &ndash;&gt;-->
<!--  <div sec:authorize-expr="isAuthenticated()"-->
<!--       th:unless="${#strings.equals(board.getWriter(),#authentication.name)}" class="d-block">-->
<!--    <h2>로그인을 했고, 로그인 유저 != 게시글 작성자</h2>-->
<!--    <input type="hidden" id="like_check" th:value="${like}">-->
<!--    <img th:id="likeImg" src="/assets/img/empty.png" alt="" width="30px" height="30px">-->
<!--    <span th:text="${board.likeCount}"></span>-->
<!--  </div>-->

<!--  &lt;!&ndash; 좋아요 &ndash;&gt;-->
<!--  <div sec:authorize-expr="isAuthenticated()" th:if="${#strings.equals(board.getWriter(),#authentication.name)}"-->
<!--       class="d-block">-->
<!--    <h2>로그인을 했고, 로그인 유저 == 게시글 작성자</h2>-->
<!--    <img th:id="likeImg" src="/assets/img/empty.png" alt="" width="30px" height="30px">-->
<!--    <span th:text="${board.likeCount}"></span>-->
<!--  </div>-->

<!--  <div sec:authorize-expr="!isAuthenticated()">-->
<!--    <h2>비로그인 유저</h2>-->
<!--    <img id="loginCheck" src="/assets/img/empty.png" alt="" width="30px" height="30px">-->
<!--    <span th:text="${board.likeCount}"></span>-->
<!--  </div>-->

<!--  <div th:unless="${board}">-->
<!--    <p>게시글이 존재하지 않습니다.</p>-->
<!--  </div>-->

<!--</div>-->

<!--  <script th:inline="javascript">-->
<!--    function showLoginAlert() {-->
<!--        alert("로그인 후 이용할 수 있습니다.");-->
<!--    }-->

<!--    function addComment() {-->
<!--        const commentContent = document.getElementById('commentContent').value;-->
<!--        const boardId = [[${board.id}]];-->

<!--        if (commentContent.trim() === "") {-->
<!--            alert("댓글 내용을 입력하세요.");-->
<!--            return;-->
<!--        }-->

<!--        fetch(`/comment/${boardId}`, {-->
<!--            method: 'POST',-->
<!--            headers: {-->
<!--                'Content-Type': 'application/json; charset=utf-8'-->
<!--            },-->
<!--            body: JSON.stringify({content: commentContent})-->
<!--        })-->
<!--            .then(response => response.json())-->
<!--            .then(data => {-->
<!--                if (data != null) {-->
<!--                    updateCommentList(boardId, data);-->
<!--                    // textarea 비우기-->
<!--                    document.getElementById('commentContent').value = '';-->
<!--                } else {-->
<!--                    console.error("댓글이 없습니다.");-->
<!--                }-->
<!--            })-->
<!--            .catch(error => {-->
<!--                console.error('댓글 전송 중 오류 발생:', error);-->
<!--            });-->
<!--    }-->

<!--    function updateCommentList(boardId, comments) {-->
<!--        const commentList = document.getElementById("commentList");-->
<!--        comments.reverse(); // 새로운 댓글이 맨 위에 나오도록 순서를 뒤집습니다.-->
<!--        commentList.innerHTML = '';-->
<!--        comments.forEach(comment => {-->
<!--            const commentItem = document.createElement('li');-->
<!--            commentItem.innerHTML = '<div>' +-->
<!--                '<span>' + comment.writer + '</span>' +-->
<!--                '<span>' + comment.content + '</span>' +-->
<!--                '</div>';-->
<!--            commentList.appendChild(commentItem);-->
<!--        });-->
<!--    }-->

<!--window.onload = function () {-->
<!--  const clickLikeUrl = "/assets/img/full.jpeg";-->
<!--  const emptyLikeUrl = "/assets/img/empty.png";-->

<!--  if ([[${#authentication.name}]] === "anonymousUser") {-->
<!--      document.getElementById('loginCheck').addEventListener('click', function () {-->
<!--          alert("로그인 후 이용할 수 있습니다.");-->
<!--      });-->
<!--  } else {-->
<!--      updateLikeImage();-->
<!--      document.getElementById('likeImg').addEventListener('click', function () {-->
<!--          const boardId = [[${board.id}]];-->
<!--          const likeVal = document.getElementById('like_check').value;-->

<!--          if (likeVal === 'true') {-->
<!--              const conCheck = confirm("현재 게시물 추천을 취소하시겠습니까?");-->
<!--              if (conCheck) {-->
<!--                  sendLikeRequest(boardId, emptyLikeUrl);-->
<!--              }-->
<!--          } else if (likeVal === 'false') {-->
<!--              const conCheck = confirm("현재 게시물을 추천하시겠습니까?");-->
<!--              if (conCheck) {-->
<!--                  sendLikeRequest(boardId, clickLikeUrl);-->
<!--              }-->
<!--          }-->
<!--      });-->
<!--  }-->

<!--  function updateLikeImage() {-->
<!--      let likeVal = document.getElementById('like_check').value;-->
<!--      if (likeVal === 'true') {-->
<!--          document.getElementById('likeImg').src = clickLikeUrl;-->
<!--      } else if (likeVal === 'false') {-->
<!--          document.getElementById('likeImg').src = emptyLikeUrl;-->
<!--      }-->
<!--  }-->

<!--  function sendLikeRequest(boardId, imageUrl) {-->
<!--      fetch(`/like/${boardId}`, {-->
<!--          method: 'POST',-->
<!--          headers: {-->
<!--              'Content-Type': 'application/json; charset=utf-8'-->
<!--          },-->
<!--      })-->
<!--          .then(response => response.json())-->
<!--          .then(data => {-->
<!--              document.getElementById('likeImg').src = imageUrl;-->
<!--              location.reload();-->
<!--          })-->
<!--          .catch(error => {-->
<!--              alert(JSON.stringify(error));-->
<!--          });-->
<!--  }-->
<!--};-->
<!--    </script>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Board Detail</title>

  <style>
        img {
            max-width: 100%;
            max-height: 100vh;
        }
    </style>
</head>
<body>

<h2>Board Detail</h2>

<div th:if="${board}">
  <p><strong>Title:</strong> <span th:text="${board.title}"></span></p>
  <p><strong>Content:</strong> <span th:utext="${board.content}"></span></p>

  <!-- 게시글의 첨부 파일 목록 -->
  <div th:if="${board.boardFileDtoList}">
    <p><strong>Attachments:</strong></p>
    <ul>
      <li th:each="file : ${board.boardFileDtoList}">
        <a th:href="@{'/boardFile/download/' + ${file.id}}" th:text="${file.originalFileName}"></a>
      </li>
    </ul>
  </div>

  <!-- 로그인을 한 경우 -->
  <div sec:authorize-expr="isAuthenticated()">
    <form id="commentForm">
      <textarea name="content" id="commentContent" rows="4" cols="50"></textarea>
      <button type="button" onclick="addComment()">댓글 작성</button>
    </form>
  </div>

  <!-- 로그인하지 않은 경우 -->
  <div sec:authorize-expr="!isAuthenticated()">
    <form id="commentForm" onsubmit="return false;">
            <textarea name="content" id="commentContent" rows="4" cols="50"
                      placeholder="로그인을 한 뒤 댓글을 작성하세요" disabled></textarea>
      <button type="button" onclick="showLoginAlert()">댓글 작성</button>
    </form>
  </div>

  <!-- 댓글 목록을 표시할 곳 -->
  <div th:if="${board.comments}">
    <p><strong>댓글:</strong></p>
    <ul id="commentList">
      <li th:each="comment : ${board.comments}">
        <div>
          <span th:text="${comment.writer}"></span>
          <span th:text="${comment.content}"></span>
        </div>
      </li>
    </ul>
  </div>

  <!-- 수정 버튼 -->
  <a th:href="@{'/board/' + ${board.id} + '/edit'}">Edit</a>

  <!-- 삭제 버튼 -->
  <form th:action="@{'/board/' + ${board.id} + '/delete'}" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <button type="submit">Delete</button>
  </form>

  <!-- 좋아요 -->
  <div sec:authorize-expr="isAuthenticated()"
       th:unless="${#strings.equals(board.getWriter(),#authentication.name)}" class="d-block">
    <h2>로그인을 했고, 로그인 유저 != 게시글 작성자</h2>
    <input type="hidden" id="like_check" th:value="${like}">
    <img th:id="likeImg" src="/assets/img/empty.png" alt="" width="30px" height="30px">
    <span th:text="${board.likeCount}"></span>
  </div>

  <!-- 좋아요 -->
  <div sec:authorize-expr="isAuthenticated()" th:if="${#strings.equals(board.getWriter(),#authentication.name)}"
       class="d-block">
    <h2>로그인을 했고, 로그인 유저 == 게시글 작성자</h2>
    <img th:id="likeImg" src="/assets/img/empty.png" alt="" width="30px" height="30px">
    <span th:text="${board.likeCount}"></span>
  </div>

  <div sec:authorize-expr="!isAuthenticated()">
    <h2>비로그인 유저</h2>
    <img id="loginCheck" src="/assets/img/empty.png" alt="" width="30px" height="30px">
    <span th:text="${board.likeCount}"></span>
  </div>

  <div th:unless="${board}">
    <p>게시글이 존재하지 않습니다.</p>
  </div>

</div>

<script th:inline="javascript">
    function showLoginAlert() {
        alert("로그인 후 이용할 수 있습니다.");
    }

    function addComment() {
        const commentContent = document.getElementById('commentContent').value;
        const boardId = [[${board.id}]];

        if (commentContent.trim() === "") {
            alert("댓글 내용을 입력하세요.");
            return;
        }

        fetch(`/comment/${boardId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json; charset=utf-8'
            },
            body: JSON.stringify({content: commentContent})
        })
            .then(response => response.json())
            .then(data => {
                if (data != null) {
                    updateCommentList(boardId, data);
                    // textarea 비우기
                    document.getElementById('commentContent').value = '';
                } else {
                    console.error("댓글이 없습니다.");
                }
            })
            .catch(error => {
                console.error('댓글 전송 중 오류 발생:', error);
            });
    }

    function updateCommentList(boardId, comments) {
        const commentList = document.getElementById("commentList");
        comments.reverse(); // 새로운 댓글이 맨 위에 나오도록 순서를 뒤집습니다.
        commentList.innerHTML = '';
        comments.forEach(comment => {
            const commentItem = document.createElement('li');
            commentItem.innerHTML = '<div>' +
                '<span>' + comment.writer + '</span>' +
                '<span>' + comment.content + '</span>' +
                '</div>';
            commentList.appendChild(commentItem);
        });
    }

window.onload = function () {
  const clickLikeUrl = "/assets/img/full.jpeg";
  const emptyLikeUrl = "/assets/img/empty.png";

  if ([[${#authentication.name}]] === "anonymousUser") {
      document.getElementById('loginCheck').addEventListener('click', function () {
          alert("로그인 후 이용할 수 있습니다.");
      });
  } else {
      updateLikeImage();
      document.getElementById('likeImg').addEventListener('click', function () {
          const boardId = [[${board.id}]];
          const likeVal = document.getElementById('like_check').value;

          if (likeVal === 'true') {
              const conCheck = confirm("현재 게시물 추천을 취소하시겠습니까?");
              if (conCheck) {
                  sendLikeRequest(boardId, emptyLikeUrl);
              }
          } else if (likeVal === 'false') {
              const conCheck = confirm("현재 게시물을 추천하시겠습니까?");
              if (conCheck) {
                  sendLikeRequest(boardId, clickLikeUrl);
              }
          }
      });
  }

  function updateLikeImage() {
      let likeVal = document.getElementById('like_check').value;
      if (likeVal === 'true') {
          document.getElementById('likeImg').src = clickLikeUrl;
      } else if (likeVal === 'false') {
          document.getElementById('likeImg').src = emptyLikeUrl;
      }
  }

  function sendLikeRequest(boardId, imageUrl) {
      fetch(`/like/${boardId}`, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json; charset=utf-8'
          },
      })
          .then(response => response.json())
          .then(data => {
              document.getElementById('likeImg').src = imageUrl;
              location.reload();
          })
          .catch(error => {
              alert(JSON.stringify(error));
          });
  }
};
    </script>
</body>
</html>
